include LICENSE
include src/commons/*.h
include src/commons/*.cpp
include src/commons/*.cxx
include src/cover_tree/*.h
include src/cover_tree/*.cpp
include src/cover_tree/*.cxx
include src/glda/*.h
include src/glda/*.cpp
include src/glda/*.cxx
include src/gmm/*.h
include src/gmm/*.cpp
include src/gmm/*.cxx
include src/hdp/*.h
include src/hdp/*.cpp
include src/hdp/*.cxx
include src/k_means/*.h
include src/k_means/*.cpp
include src/k_means/*.cxx
include src/lda/*.h
include src/lda/*.cpp
include src/lda/*.cxx
